/*
 * Pipeline configuration
 */

params {
    // Input/output options
    reference = null
    reads = null
    outdir = "results"
}

// Ignore this following section please //
process {
    withName: 'BWA_.*' {
        container = 'biocontainers/bwa:0.7.17--hed695b0_7'
    }

    withName: 'SAMTOOLS_.*' {
        container = 'biocontainers/samtools:1.17--hd87286a_2'
    }
}

