/*
 * Pipeline configuration
 */

params {
    // Input/output options
    reference = null
    reads = null
}

// Ignore the following section please //

docker.enabled = true

process {
    withName: 'BWA_.*' {
        container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_7'
    }

    withName: 'SAMTOOLS_.*' {
        container = 'quay.io/biocontainers/samtools:1.17--hd87286a_2'
    }
}

