/*
 * Pipeline configuration
 */

params {
    // Input/output options
    reference = null
    reads = null
    outdir = "results"
}

// TODO: Add process resource configuration here

// Execution report options
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    conda {
        conda.enabled = true
        conda.useMicromamba = true
    }
}
